*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-sec{
   padding: 1rem;
   margin: 5rem auto;
    display: flex;
    width: 90vw;

}
@media screen and (min-width: 768px){
    .main-sec{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
.main_book{
    background-color: rgb(177, 177, 177);
    gap: 3rem;
    padding: 2rem;
    margin: 10px;
    border-radius: 10px;
    text-align: center;

    

}
.main_book img{
  width: 100%;
  object-fit: cover;  
}
